# Ignore everything
*

# But those files
!.bash_profile
!.emacs
!.mongorc.js
!.screenrc
!README.md
!.emacs.d/lisp/*
!.emacs.d/packages/*
!.dotfiles_params.tpl
!.gitignore
!git-completion.bash
!iterm2/*
